/* 컨텐츠1 - 이성희 */
/* 컨텐츠2 - 맹예진 */

section {
  padding-top: 72px;
  padding-bottom: 72px;
}

.features-box {
  width: 1041px;
}
.section-features,
.section-compare {
  background: var(--light-grey);
}
.section-features {
  height: 192px;
}
.section-features h2 {
  margin-bottom: 48px;
}
.section-features ul li {
  background: var(--deep-green);
  border-radius: 10px;
  color: var(--white);
  width: 483px;
  padding: 12px 0;
  margin: 24px 0;
  text-align: center;
}

.section-company h2 {
  margin-bottom: 24px;
}

.company-introduction li {
  width: 282px;
  height: 180px;
  background: var(--light-green);
  border-radius: 10px;
  padding: 18px 0;
  margin-top: 48px;
  margin-bottom: 48px;
}

/* 차별점 */

.section-compare {
  height: 600px;
}
.section-compare > div:first-child {
  position: relative;
}
.section-compare .orange {
  margin-bottom: 24px;
}
.compare-box > div {
  position: absolute;
  left: 459px;
  top: 117px;
}
.compare-box > div:first-child {
  display: flex;
  align-items: flex-end;
  gap: 0;
}
.compare-target {
  background: #d9d9d9;
  width: 281px;
  height: 48px;
  border-radius: 20px 20px 0 0;
}
.compare-est {
  background: var(--orange);
  color: var(--white);
  width: 384px;
  height: 96px;
  border-radius: 20px 20px 0 0;
}
.compare-list {
  width: 665px;
  margin-top: 24px;
  position: absolute;
  left: 739px;
  top: 214px;
}
.compare-text {
  display: flex;
  align-items: center;
  gap: 98px;
}

.circle-icon {
  width: 48px;
  height: 48px;
  background: var(--orange);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orange {
  color: var(--orange);
}
.alyac {
  color: var(--alyac-green);
}

/* 컨텐츠3 - 장진혁 */
/* 컨텐츠4 - 주성뮨 */
/* 컨텐츠5 - 최호찬 */
/* 컨텐츠6 - 김태현 */
